html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  color: black;
  background: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(140%);
  }
}
